/*
* Search
*/

#express-form-typeahead {
	background-color: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='mx-3'><circle cx='10.5' cy='10.5' r='7.5'></circle><line x1='21' y1='21' x2='15.8' y2='15.8'></line></svg>");
  background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	border: none;
	cursor: pointer;
	height: 37px;
	margin: 3px 0;
	padding: 0 0 0 34px;
	position: relative;
	-webkit-transition: width 400ms ease, background 400ms ease;
	transition:         width 400ms ease, background 400ms ease;
	width: 0;
}
#express-form-typeahead:focus {
	background-color: #fff;
	cursor: text;
	outline: 0;
	width: 230px;
}
.search-btn {
  display: none;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
